.login-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: 'Quicksand';

    h1 {
        font-size: 3rem;
        margin: 10px 0;
        margin-bottom: 35px;
    }

    .login-icon {
        width: 200px;
    }

    .google-btn,
    .guest-btn {
        font-family: 'Quicksand';
        font-weight: bold;
        padding: 12px 24px;
        margin: 10px;
        font-size: 1rem;
        border: 2px solid black;
        background: white;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: normal;
        opacity: 0.5;
        margin-top: 1.5rem;
    }
}